.biddingRuleDatatable {
  button {
    background: white;
    border: none;
    cursor: pointer;
    outline: none;
}
  .rdt_TableRow {
    font-size: 12px !important;
    color: rgba(140, 140, 140, 0.87) !important;
  }

  .rdt_TableHeadRow {
    background-color: #f1f1f1;
  }

  .rdt_TableHead {
    .rdt_TableCol {
      font-size: 13px !important;
      font-weight: 500 !important;
      color: #4c4c4cde !important;
    }
  }


  .MuiPaper-rounded {
    border-radius: 25px;
  }

  .overlay {
    background: #00000000;
    transition: background 0.4s ease;
    z-index: -1;
  }
  button {
    background: white;
    border: none;
    cursor: pointer;
    outline: none;
  }
}