// Body
$body-bg: #f5f6f7;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$theme_font_family: PoppinsNormal, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$primaryColor : #1a1a1a;
$SecondayColor : #ef8d18;
$primaryColorLight : lighten(#ef8d18, 10%);
$primaryColorOrange : #ef8d18;
$tacosTabHover : #1a1a1a0d;
$primaryColorLighter : #D790F5;
$primaryColorLightest : #e9cff5;
$secondaryColor : #f96332;
$shadeGrayColor : #2c2c2c;
$grayColor : #666666;
$grayColorLight : #979797;
$mdGrayColor : #eaeaea;
$success : #8cc34b;
$failure : #f68484;
$background : #f5f6f7;

$tagMangerChechBoxInActive:lighten(#e1a23b, 50%);
$tagMangerProgressBar:#c180f3;