@import './../../sass/variables';
  /* The emerging W3C standard
   that is currently Firefox-only */
   * {
    scrollbar-width: thin;
    scrollbar-color: #571986 white;
  }
  
  /* Works on Chrome/Edge/Safari */
  *::-webkit-scrollbar {
    width: 6px;
    height: 8px;
  }
  *::-webkit-scrollbar-track {
    // background: #673ab738;
    background: white;
    border-radius: 25px;
  }
  *::-webkit-scrollbar-thumb {
    background-color: $SecondayColor;
    border-radius: 20px;
    border: 3px solid $SecondayColor;
  }
  .MuiDrawer-paper::-webkit-scrollbar-track {
    background: $SecondayColor;
    border-radius: 25px;
  }
  .MuiDrawer-paper::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
    border: 3px solid white;
  }

  label{
    color: #717171;
    font-size: 0.8rem !important;
  }

.required-asterisk{
    height: fit-content;
    color: #f40606;
    font-weight: 600;
    font-size: 18px;
}
.btnHover{
  color: $SecondayColor  !important;
}
.btnHover:hover {
  color: $primaryColorLight !important;
}

.mBottom{
  margin-bottom: 10px !important;
}
