
.labelOverrideForm{
  .disabledElement{
      .select__control{
          opacity: 0.5;
          background: #0000000d;
      }
      .select__single-value--is-disabled{
          color: #0000008f;
      }
      & > div > div{
          border:none;
          background: #0000000d;
      }
      .Mui-checked.eventCheckBox {
          opacity:0.5
      }
  }
}
.labelOverride{
    .rdt_TableRow {
        font-size: 12px !important;
        color: rgba(140, 140, 140, 0.87) !important;
    }
    
    .rdt_TableHeadRow {
        background-color: #f1f1f1;
    }
    
    .rdt_TableHead {
        .rdt_TableCol {
          font-size: 13px !important;
          font-weight: 500 !important;
          color: #4c4c4cde !important;
        }
    }
    
      .rdt_TableBody {
        min-height: 450px !important;
      }
    
      
    .MuiPaper-rounded {
        border-radius: 25px;
    }
    
      .overlay {
        background: #00000000;
        transition: background 0.4s ease;
        z-index: -1;
      }
}

.LabelOverrideModel{
    .MuiDialog-paper{
      border-radius: 20px;
      max-width: 380px;
    }
    #customized-dialog-title{
      padding: 23px 16px 0 16px !important;
    }    
}