@import './../../../../sass/variables';

.MuiDialog-paperWidthMd{
  max-width:1100px !important;
}
.dayPartingModule {

  .actionBtnStyle {
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .actionBtnStyle:focus {
    border: none !important;
    outline: none;
  }

  .dayPartingTextField {
    border: 1px solid #cac6c6 !important;

    div:first-child {
      border: none !important;
      box-shadow: none !important;
      outline: none;
      padding-left: 10px;
      padding-right: 10px;
    }

    div:first-child input {
      height: 15px !important;
    }
  }

  .css-7duor2-Control {
    background: #fff !important;
  }

  .dayPartingGridElement:nth-child(odd) {
    padding-right: 20px !important;
  }

  .dayPartingGridElement:nth-child(even) {
    padding-left: 20px !important;
  }
  .dayPartingDays{
    width: 70% !important;
  }

  .dayPartingDayCheckBoxes{
    .MuiFormControlLabel-root{
      margin-left:0px !important
    }
  }

  .dayPartingCheckBoxes > fieldset {
    background: transparent !important;
    margin-right: 15px;

    svg {
      font-size: 1.2rem !important;
      margin: 10px !important;
    }

    .MuiIconButton-colorPrimary svg {
      color: #383a3a7a !important;
    }

    .MuiIconButton-colorPrimary.Mui-checked svg {
      color: $primaryColor !important;
    }
  }

  .timePickerElement {
    input {
      padding-left: 9px !important;
    }

    .MuiInput-underline:before, .MuiInput-underline:after {
      left: 9px !important;
      right: 9px !important;
    }
  }

  .timePickerDayPartingElement {
    .wrapper {
      background-color: transparent !important;
      width: 100% !important;
      padding: 0 !important;
      box-shadow: none !important;
      border-radius: 0.3rem !important;
    }
  }

  .dayPartingHeading {
    margin-bottom: 10px !important;
  }

  // .MuiButton-root, .MuiButton-root:hover {
  //   background-color: #571986 !important;
  //   color: #ffff !important;
  // }

  .popUpConfirmationBtn {
    margin-left: 10px !important;
  }

  .error > div:first-child {
    border: 1px solid tomato !important;
  }

  .required-asterisk {
    bottom: 8px;
    position: relative;
  }

  .css-1nzfn7a-Control{
    background: #ffffff !important;
  }
}

.dayPartingDatatable {
  button {
      background: white;
      border: none;
      cursor: pointer;
      outline: none;
    //color: white;
    padding:0px !important
  }
  .rdt_TableHeadRow {
    background-color: #f1f1f1 !important;
  }

  .rdt_TableHead .rdt_TableCol {
    font-size: 13px !important;
    font-weight: 500 !important;
    color: #4c4c4cde !important;
  }

  .rdt_TableRow {
    font-size: 12px !important;
    color: rgba(140, 140, 140, 0.87) !important;
  }
  .MuiButton-root:hover {
    background-color: transparent !important;
  }
  //div.rdt_TableCell{
  //  background: orange;
  //}
}
#customized-dialog-title{padding-bottom: 0px !important;}
.dayPartingHistory {
  .fc-button {
    padding: 0.05rem 0.50rem !important;
    text-transform: capitalize !important;
    background: $SecondayColor !important;
    color:$primaryColor !important;
    border: 0px solid transparent !important;
  }

  .fc-toolbar-title {
    font-size: 1.1em !important;
  }

  .historyProfile {
    .select__menu{
      z-index: 50;
    }
    background: transparent !important;
  }

  .dayPartingGridElement {
    margin-bottom: 5px !important;
  }

  .fc .fc-button-primary:focus, .fc-button:focus{
    box-shadow:none !important;
  }
  .dayPartingHeading{
    position: relative;
    top: 22px;
  }
  .fc-col-header{
    background-color: $SecondayColor !important;
    font-family: -webkit-pictograph !important;
    font-size: 13px !important;
    font-weight: 500 !important;
  }
  .historyElement{
    padding: 5px 25px 0px !important;
  }
}
