.manageBrand{
    .ulist{
        max-height: 100px;
        overflow: scroll;
        border: 1px solid #0000000d;
        border-radius: 10px;
    }
    .rdt_TableRow {
        font-size: 12px !important;
        color: rgba(140, 140, 140, 0.87)  !important;
        cursor: pointer;
    }
    .rdt_TableHeadRow {
        background-color: #f1f1f1;
    }
    .rdt_TableHead {
        .rdt_TableCol {
            font-size: 13px  !important;
            font-weight: 500  !important;
            color: #4c4c4cde  !important;
        }
    }
    // .rdt_TableBody{
    //     min-height: 450px !important;
    // }
    
    .dataTableContainer{
        button {
            background: white;
            border: none;
            cursor: pointer;
            outline: none;
            padding: 5px;
        }
    }   
    
    .MuiDialog-paperWidthSm {
        max-width: 725px;
        // overflow: visible;
    }

    .actionBtnsCenter{
        justify-content: center !important;
    }
    // get the variable color
  
}

.hfield{
    min-height: 55px;
}

.formMargin{
    margin: 0px 35px;
}

.errorCustom{
    margin: 0;
    font-size: 90%;
    // color: tomato;
  }
  .errorCustom .ThemeInput > div > div:nth-child(1) {
    border: 1px solid tomato !important;
  }
  .errorCustom .ThemeSelect > .select__control  {
    border: 1px solid tomato !important;
  }
.selectUserCheckBoxContainer{
    padding-top: 10px;
    label{
        width: 100%;
        max-width: 100%;
        & > span:last-child{
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    fieldset{
        padding: 10px 20px;
        background: #fff;
        border: 1px solid #c3bdbd8c;
        height: 120px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}